html, body{
  min-height: 100%;
}
body{
  position: relative;
}
/*style for hidden modal*/
.overlay {
  width: 100%;
  height: 100%;
  color: #fff;
  background: #333;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1000;
  display: none;
}

.content {
  color: #fff;
  background: #333;
  position: relative;
  height: auto;
  width: 600px;
  border-radius: 3px;
  top: 15%;
  margin: auto auto;
  border: 1px solid rgba(0,0,0,0.1);
}

.content > div {
  padding: 15px 40px 30px;
  font-weight: 300;
  font-size: 1.15em;
}

.content > div p {
  margin: 0;
  padding: 10px 0;
  line-height: 2em;
  text-align: justify;
}

.content .gotIt {
  float: right;
  display: block;
}
.box {
  overflow: hidden;
  padding: 0 !important;
  opacity: .65;
}
.box:hover {
  cursor: pointer;
  opacity: 1;
}
#characters img {
  width: 100%;
}
nav {
  opacity: 0;
}
nav:hover {
  opacity:.9;
}
.yellow {
    color: #ffce55;
}
.content h2 {
  font-family: 'Bangers', cursive;
  font-size: 2.5em;
  margin-bottom: 0;
  text-shadow: -1px -1px black, 1px 1px black,  2px 2px black;
  font-weight: 400;
  margin: 0;
  padding: 0.4em;
  text-align: center;
  font-weight: 300;
  opacity: 0.8;
  background: rgba(0,0,0,0.1);
  border-radius: 3px 3px 0 0;
}
.copy {
  font-family: 'Happy Monkey', cursive;
}
.marvel {
  font-size: .75em;
}
.selected {
  opacity: 1;
}
.hidden {
  display: none;
}